---
layout: default
---
{% for task in site.tasks %}
.header {{task.title}}
{% for block in task.activities %}
.panel
  .instructions
    .bullet {{forloop.index}}
    %ol
      {% for step in block.steps %}
      %li {{ step }}
      {% endfor %}
  .image
    %img{ src: "{{block.image}}"}
{% endfor %}
{% endfor %}
