<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//scratchblocks.github.io/js/scratchblocks-v3.1-min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    scratchblocks.renderMatching("bl", {inline: true});
  });

  jQuery("#sidebar-btn").on( 'click', function(){
    const sidebar = jQuery("#sidebar")

    if( sidebar.hasClass("-active"))
      sidebar.removeClass("-active")
    else
      sidebar.addClass("-active")
  });
</script>
