{% case include.list %}
  {% when 'tasks' %}
    {% assign list = site.tasks | where: 'activity', include.id %}
  {% when 'activities' %}
    {% assign list = site.activities | sort: 'order' %}
{% endcase %}
{% if list %}
  <div class="sidebar" id="sidebar">
{% else %}
  <div class="sidebar -hide" id="sidebar">
{% endif %}
  <ul class="menu-list">
    {% for item in list %}
      {% if item.url == page.url %}
        <li class="menu-item -active">
      {% else %}
        <li class="menu-item">
      {% endif %}
        <a class="link" href={{ item.url | prepend: site.baseurl }}>{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
