.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 8px;
}

.page-content {
  margin-top: 178px;
}

.header {
  background-color: purple;
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;

  &.-link {
    display: block;
    text-decoration: none;
    color: white;
  }

  &.-sub {
    margin: 0px;
  }

  &.-secondary {
    background-color: #2196F3
  }
}

.panel {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  width: 100%;
  margin-bottom: 8px;
  background-color: #83B6FF;
}

.instructions, .image {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-inline-flex;     /* NEW - Chrome */
  display: inline-flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -webkit-align-items: center;
  padding: 20px;
  font-size: 20px;
  /*font-weight: lighter;*/
}


.image {
  justify-content: center;
  -webkit-justify-content: center;
  display: block;
  padding: 20px;
  text-align: center;
}

.image img {
  max-height: 400px;
  object-fit: cover;
}

li {
  margin-bottom: 10px;
}

.bullet {
  font-family: 'Libre Baskerville', sans-serif;
  background-color: #ffff9d;
  color: #989898;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 60px;
  margin: 0 30px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}


@media screen and (max-width: 1024px) {
  .panel, .instructions {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .fixed-top {
    position: relative;
    padding: 0;
    margin-bottom: 8px;
  }

  .page-content {
    margin-top: 0;
  }
}
