.header {
  background-color: purple;
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 15px;


  &.-secondary {
    background-color: #2196F3;
    text-align: right;
  }

  &.-list {
    padding: 80px 20px
  }

  .subtitle {
    font-size: 15px;
    display: block;
    text-transform: uppercase;
  }
}

.subheader {
  background-color: #521b52;
  font-size: 15px;
  padding: 10px 15px;
  margin-bottom: 8px;
}

.header, .subheader {
  &.-link {
    display: block;
    text-decoration: none;
    color: white;
  }
}

.panel {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  width: 100%;
  margin-bottom: 8px;
  background-color: #83B6FF;
}

.instructions, .image {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-inline-flex;     /* NEW - Chrome */
  display: inline-flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  align-items: center;
  -webkit-align-items: center;
  padding: 20px;
  font-size: 20px;
  /*font-weight: lighter;*/
}


.image {
  justify-content: center;
  -webkit-justify-content: center;
  display: block;
  padding: 20px;
  text-align: center;
  min-width: 320px;
}

.image img {
  max-height: 400px;
  max-width: 300px;
  object-fit: cover;
  min-width: 250px;
}

li {
  margin-bottom: 10px;
}

.bullet {
  font-family: 'Libre Baskerville', sans-serif;
  background-color: #ffff9d;
  color: #989898;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 60px;
  margin: 0 30px;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}


@media screen and (max-width: 1024px) {
  .panel, .instructions {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .fixed-top {
    position: relative;
    padding: 0;
    margin-bottom: 8px;
  }

  .page-content {
    margin-top: 0;
  }
}

.content-image {
  width: 100%;
  margin-bottom: 8px;
}

.content-download, .content-challenge {
  background-color: #2196F3;
  margin-bottom: 8px;
  padding: 20px;
  text-align: center;

  > .download-btn {
    text-decoration: none;
    background-color: #ff6e9f;
    color: white;
    padding: 20px 40px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

    &:hover {
      background-color: darken(#ff6e9f, 3%);
    }
  }
}

.content-info {
  background-color: #2196F3;
  margin-bottom: 8px;
  text-align: center;
  padding: 30px 0;

  &.-end {
    background-color: #ff6e9f;
  }

  > .info-image {
    margin-bottom: 15px;
  }

}

.info-title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;

  &.-large {
    font-size: 40px;
  }
}

.info-text {
  font-size: 15px;
  padding-top: 15px;

  &.-large {
    font-size: 25px;
  }
}

.info-tite, .info-text {
  &.-bottom {
    padding-bottom: 15px;
  }

  &.-top {
    padding-top: 0px;
  }
}

.content-link {
  color: #ffd27e;
  text-decoration: none;

  &:hover {
    color: darken(#ffd27e, 10%);
  }
}
