.navbar {
  background-color: gray;
  padding: 15px;
  margin-bottom: 8px;

  .site-title {
    text-decoration: none;
    color: white;
    font-size: 40px
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 8px;
}

.main {
  margin-left: $sidebar-width;
  padding-left: 8px;
}
