.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 8px;
}
.nav-image {
  display: table-cell;

  img {
    height: $navbar-height;
    display: block;
    margin-left: 8px;
  }
}

.nav-wrapper {
  display: table-cell;
  padding: 8px;
  background-color: $navbar-color;
  padding: 15px;
  vertical-align: middle;
  width: 100%;

  .site-title {
    text-decoration: none;
    color: white;
    font-size: 20px
  }
}

.main {
  margin-left: $sidebar-width;
  padding-left: 8px;
  padding-top: $navbar-height;

  @media screen and (max-width: 768px) {
    margin-left: 0;
    padding-left: 0;
  }
}
