.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 8px;
}

.nav-wrapper {
  padding: 8px;
  background-color: $navbar-color;
  padding: 15px;

  .site-title {
    text-decoration: none;
    color: white;
    font-size: 40px
  }
}

.main {
  margin-left: $sidebar-width;
  padding-left: 8px;
  padding-top: $navbar-height;
}
