.sidebar {
  background-color: $sidebar-color;
  width: $sidebar-width;
  overflow-y: auto;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  margin: 16px 0 8px;

  .menu-list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
  }

  .menu-item {
    list-style: none;
    background-color: #500c8e;
    display: block;
    padding: 5px;

    &.-active,
    &:hover {
      background-color: #66398e;
    }
  }

  .link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    display: inline-block;
  }

  @media screen and (max-width: 768px) {
    left: -$sidebar-width;
  }

  &.-active {
    @media screen and (max-width: 768px) {
      left: 0;
      right: 0;
      margin: 16px 8px 0;
      width: auto;
      border-bottom: 8px solid white;
    }
  }

  &.-hide {
    display: none;
  }
}
