---
layout: default
list: tasks
---
{% assign activity = site.activities | where: 'slug', page.activity | first %}
<a class='subheader -link' href="{{site.baseurl}}/activities/{{page.activity}}">Activity : {{activity.title}}</a>
<div class='header'>
  <span class='subtitle'>task {{page.task}}</span>
  <span class='title'>{{page.title}}</span>
</div>
<div class='page-content'>
  {% if page.content-position != "below" %}
  {{content | remove: '<p>' | remove: '</p>'}}
  {% endif %}
  {% for block in page.activities %}
  <div class='panel'>
    <div class='instructions'>
      {% if page.type == "list" %}
        <div class='bullet'></div>
        {% for step in block.steps %}
          {{step}}<br>
        {% endfor %}
      {% else %}
        <div class='bullet'>{{forloop.index}}</div>
        <ol class="list">
        {% for step in block.steps %}
          <li>{{step}}</li>
        {% endfor %}
      {% endif %}
    </div>
    {% if block.image != "none" %}
      <div class='image'>
        <img src="{{site.baseurl}}/{{block.image}}">
      </div>
    {% endif %}
  </div>
  {% endfor %}
  {% if page.content-position == "below" %}
  {{content | remove: '<p>' | remove: '</p>'}}
  {% endif %}
  {% if page.activity == page.next.activity  %}
    <a class='header -link -secondary' href="{{site.baseurl}}{{page.next.url}}">NEXT // {{page.next.title}}</a>
  {% endif %}
</div>
